/*
//
/// Admin Theme Variables */

$theme_red: rgba(227, 34, 43, 0.7);
$theme_blue: #09c0e1;
$theme_black: #333;
$theme_green: rgba(37, 174, 80, 0.7);
$theme_purple: #6e467a;
$theme_yellow: #f5bb4a;
$theme_orange: rgba(245, 187, 74, 0.7);

$admin_content_bgcolor: rgba(255, 255, 255, 0.75);
$node_background_color: rgba(255, 255, 255, 0.7);

$menu_padding: .1em 0;

$arial:'Arial', sans-serif;
$open_sans:'Open Sans', sans-serif;

$button_active_box_shadow:0px 0px 10px -2px #333 inset;


/*
//
/// Classes */

$admin_border_color:1px solid rgba(51, 51, 51, 0.5);
$admin_border_color_fallback:#ccc;
%admin_border_style{
	@extend %node_form--border;
	background-clip:padding-box;
}

$button_colors--default_opacity:0.7;
$button_colors--hover_opacity:0.85;
$button_colors--active_opacity:0.95;

%button_colors{
	@include font_style($open_sans, 12, 700, 26);
	@include transition(background-color 0.3s ease-out, color 0.3s ease-out);
	@include fallback(background-color, rgba($theme_yellow, $button_colors--default_opacity), #ccc);
	@include border-radius(15px);
	@include rem(padding, 0, 20);
	border:1px solid $theme_yellow;
	text-decoration:none;	
	text-transform:lowercase;
	color:white;	
	width:auto;
			
	&:hover{
		@include transition(background-color 0.15s ease-out);
		background-color:rgba($theme_yellow, $button_colors--hover_opacity);
		text-decoration:none;
		color:white;
	}
	
	&:active{
		@include transition(background-color 0 ease-out);
		@include box-shadow(0px 1px 3px 1px rgba(51, 51, 51, 0.12) inset);
		background-color:white;
		color:white;
	}
	
	&.orange{
		@include fallback(background-color, rgba($theme_yellow,$button_colors--default_opacity), orange);
		
		&:hover{
			@include fallback(background-color, rgba($theme_yellow, $button_colors--hover_opacity), red);	
		}
		
		&:active{
			@include fallback(background-color, rgba($theme_yellow, $button_colors--active_opacity), red);
		}
	}
	
	&.red{
		@include fallback(background-color, rgba($theme_red, $button_colors--default_opacity), orange);
		border-color:$theme_red;
		
		&:hover{
			@include fallback(background-color, rgba($theme_red, $button_colors--hover_opacity), red);	
		}
		
		&:active{
			@include fallback(background-color, rgba($theme_red, $button_colors--active_opacity), red);
		}
	}	
}

%admin_container{
	max-width:1200px;
	width:100%;
	float:none;
	margin-left:auto;
	margin-right:auto;
	
	@include breakat(1263){
		max-width:95%;
	}
}