/*
//
/// Page Admin screens
/// General styles for the admin screens. For best practice these styles should
/// be moved out of this group, if possible. Body calls are poor on performance. */

.l-admin{
	@extend %page_wrapper;
	
	> section{
		@include rem(margin-top, 25);
		
		&.l-messages{
			margin-top:0;
		}		
	}
}

/*.admin-screen*/
.page-admin{	
	
	.l-messages{
		@include rem(margin-bottom, 25);
	}
	
	.l-action_links,
	.l-admin_tabs{
		@include rem(margin-bottom, 20);
		
		&:first-child{
			@include rem(margin-top, 25);
		}
	}
	
	.l-help{
		@include rem(margin-top, 25);
	}

	.l-app,
	.l-page{
		@extend %page_wrapper;
	}
	
	.l-main{
		@extend %admin_container;
		@include rem(padding-bottom, 45);
		@include rem(padding-top, 30);
		clear:both;			
	}
	
	.l-action_links{
		@extend %admin_container;	
		overflow:hidden;		
		@include rem(line-height, 13);
	}	
	
	.l-help{
		@extend %admin_container;
		background-color: #ebebeb;
		@include rem(line-height, 18);				
		@extend %admin_border_style;
		
		p{
			margin:0;
			@include rem(padding, 10);
		}
	}	
	
	input[type="radio"],
	input[type="checkbox"]{
		margin:0;
	}
	
	.version-links .links li {
	    list-style: none outside none;
	}
	
	.project a {
	    color: rgb(112, 102, 226);
	}	

	.form-item-module-filter-name {
	    clear: none !important;
	}		

	.form-type-date-select .form-item {
	    clear: none;
	    margin-right: 10px;
	}			
}//page-admin



