.page-admin{
	fieldset{
		@include border-radius(4px);
	}
	
	/*
	//
	/// Field Groups */
	
	.field-group-fieldset{
		@include rem(margin-bottom, 40);
		@include border-radius(4px);
	  background-color: transparent;
	  border-right-width:2px;
	  border-bottom-width:2px;
	  
	  .fieldset-legend{
		  background-image:none !important;
		  padding:0 5px !important;
		  padding:0 0.5rem !important;
		  @include rem(font-size, 30);
		  
		  .summary{
			  display:none;
		  }
	  }
	}
	
	.fieldset-wrapper{
		*:last-child{
			margin-bottom:0;
		}
	}
	
	.fieldset-title{
		color:black;
	}	
}



