/*
//
/// Config */

/// LAYOUT
$node_form--unit:20;
$node_form--unit_half:$node_form--unit * 0.5;
$node_form--unit_double:$node_form--unit * 2;

%node_form--form_item_margin{
	@include rem(margin, 20, 0);
	
	&:last-child{
  	margin-bottom:0;
	}
}


/// FIELDS
%node_form--field_label{	
	@include adjust-font(20,25,300);
	@include rem(margin-bottom, 10);
	float:left;
	width:100%;
	clear:both;
}

%node_form--field_container_styles{
	width:100%;
	display:table;
	@include rem(padding, 15, 15, 0);
	border-top:1px solid silver;
	
	&:first-child{
  	border-top:0;
	}
	
	&:last-child{
  	padding-bottom:0;
	}
}

%node_form--hexidecimal_field{
  
  .form-text{
    @include rem(width, 100);
  }
}


/// BOX SHADOWS
$node_form--box_shadow_values:3px 3px 5px -3px;

%node_form--box_shadow{
  @include box-shadow($node_form--box_shadow_values rgba(0,0,0,0.3));
}

%node_form--box_shadow_focus_effect{
  @include box-shadow($node_form--box_shadow_values rgba(0,0,0,0.0));
  @include transition(box-shadow 0.3s ease-out);
  
  &:focus{
    @include transition(box-shadow 0.2s ease);
    @extend %node_form--box_shadow;  
  }  
}


/// BORDERS
%node_form--border{
  border:1px solid silver;
}

%node_form--border_radius{
  @include border-radius(5px);
}


/// TEXTBOXES
%node_form--textbox_width{
  @include rem(max-width, 685);
  width:100%;
}



/*
//
/// Static styling */

.node-form{
	//@extend %container;
	//@include rem(margin-top, $layout--header_height + 25);
	@extend %node_form--box_shadow;
	@extend %node_form--border;
	@extend %node_form--border_radius;
	
	
	.grippie{
  	display:none;
	}
	
	.form-wrapper{  	
		clear:both;
		display:table;						
	}
	
	.description{
		//@extend %body_copy;
		@include rem(padding-top, 10);
		//@include rem(max-width, $layout--text_max_width);
		clear:both;
	}
	
	label{
		@extend %node_form--field_label;
	}		
  
  .form-item{
    
  }
	
	
	/*
	//
	/// Fieldsets */
	
	fieldset{
		@include rem(margin, 40, 2);
		border:1px solid silver !important;
		padding:0;
		height:auto;
		background-color:#F0F0F0;
		@include transition(background-color 0.3s ease-out);
		
		&.collapsed{			
			background-color:white;
			height:auto !important;
						
			&:hover{
				@include transition(background-color 0.15s ease-out);
				background-color:#F0F0F0;
			}
		}
	}
	
	legend{
		@include rem(padding, 3, 15);
		float:left;
		width:100%;
	}
	
	.fieldset-legend{
		//@include fontStyle($primary_font, 32, 35, 300);
	}
	
	.fieldset-wrapper{
		padding:0px 20px 25px !important;
	}
	
	.fieldset-title{
		float:left;
		width:100%;
	}
	
	.vertical-tabs fieldset{
		background-color:transparent;
		border:none;
	}
	
	
	
	/*
	//
	/// Checkboxes & Radios */
	
	.form-checkbox,
	.form-radio {
		@include rem(height, 27);
		float:left;
		
		& + .option{
			//@extend %body_copy;
			@include rem(margin-left, 5);
			width:auto;
			clear:none;
		}						
	}
	
	.form-radios{
		@include rem(padding-top, 10);
		display:table;
		width:100%;
		
		.form-item{
		  width: auto;
		  display: table;
		  float: left;
		  clear:none;
		  @include rem(margin-right, 20);
		}
	}
	
	.form-type-checkbox{
  	clear:both;
	}
	
	
	
	/*
	//
	/// Inline Entity Form */
	
	.field-type-entityreference {
		width:100%;

		.redirect-list{
			display:none;		
		}

		
		.fieldset-wrapper > .container-inline:last-child input[type="submit"]{
			@include rem(margin-top, 25);
		}
	}
		
	.field-group-fieldset .field-widget-inline-entity-form{		
		@include rem(margin-top, -80);			
	}
	
	.ief-form{
		border-bottom:0;	
		
		input[type="submit"]{
			@include rem(margin, 0, 10);
		}
	}
	
	.ief-entity-operations input[type="submt"]{
		@include rem(margin, 0, 10);
	}
	
	
	
	/*
	//
	/// Image Field */
	
	.field-type-image{
    @extend %node_form--field_container_styles;
		@extend %node_form--form_item_margin;
		
		label{
			@extend %node_form--field_label;
		}
		
		.form-type-textfield{
  		border:none;
  		clear:both;
  		float:left;
  		padding:0;
		}
		
		.image-preview{
  		margin-top:20px;
		}
	}
	
	
	
	/*
  //
  /// Link field */
  
  .field-type-link-field{
    @extend %node_form--field_container_styles; 
    
		label{
			@extend %node_form--field_label;
		}		
		
		.link-field-column{
      width:auto;
      clear:both;
        		
  		label{
    		font-family:'arial';
    		@include rem(font-size, 14);
  		}
		}    
		
		.form-item{
  		padding:0;
		}
  }
  
	
	
	/*
	//
	/// Submit Form Buttons */
	
	.form-actions{
		display:table;
		@include rem(padding, 40, 0);
		width:1005;
		
		.form-submit{
  		//@include rem(margin-right, $layout--unit_half);
  		
  		&:last-child{
    		margin-right:0;
  		}
		}
	}
	
	
	/*
	//
	/// WYSIWYG */
	
	.text-format-wrapper .filter-wrapper{
		display:none !important;
	}
	
	.field-type-text-with-summary{
		@extend %node_form--form_item_margin;
		@extend %node_form--field_container_styles;
		
		label{
			@extend %node_form--field_label;
			float:none;
			display:table;
		}
		
		.description{
  		border:none;
		}
		
		.field-edit-link{
  		display:none;
		}
	}
	
	
	
	/*
  //
  /// Text fields */
  
  .field-type-text{
    @extend %node_form--field_container_styles;
		@extend %node_form--form_item_margin;  
		
		.form-item{
  		margin:0;
  		padding:0;
		}  		
  }
  
  
  
  /*
  //
  /// Number field */
  
  .field-type-number-float{
    @extend %node_form--form_item_margin;
		@extend %node_form--field_container_styles;    
		
		.form-item{
  		margin-top:0;
  		padding:0;
		}
		
		.form-text{
  		@include rem(max-width, 100);
		}
  }
	
	
	
	/*
	//
	/// Vertical Tabs */
	
	.vertical-tabs{
		
		.form-wrapper{
			clear:none;
		}		
	}
	
	.vertical-tabs-panes{
  	@include rem(padding-top, 45);
	}
	
	
	
	/*
	//
	/// Date field */
	
	.field-type-datetime{
		width:100%;
		@extend %node_form--form_item_margin;
		@extend %node_form--field_container_styles;
		
		.date-processed{
			border:none !important;
			margin-top:0;
			margin-bottom:0;
			background-color:white;
			
			.fieldset-legend{
				@extend %node_form--field_label;
				padding-left:0 !important;
			}
		}
		
		.fieldset-wrapper,
		legend{
			padding:0 !important;
			
		}
		
		.date-padding{
			padding:0;
		}
		
		.form-item{
  		@include rem(margin-right, $node_form--unit);
  		margin-bottom:0;
  		float:left;
  		
  		&:last-child{
    		margin-right:0;
  		}
  		
  		label{
    		@include adjust-font(14, 18);
    		margin-bottom:0;
  		}
		}
		
		.form-select{
  		@extend %disable_outline;
		}
	}
	
	
	
	/*
	//
	/// Text List */
	
	.field-type-list-text{
		@extend %node_form--form_item_margin;
    @extend %node_form--field_container_styles;
		
		label{
			@extend %node_form--field_label;
		}
	}
	
	
	
	/*
	//
	/// Text Fields */
	
	.form-type-textfield{
		@extend %node_form--form_item_margin;
		@extend %node_form--field_container_styles;
		
		label{
			@extend %node_form--field_label;
		}		
	}
	
	.form-text{
  	@extend %disable_outline;
  	@extend %node_form--border_radius;
  	@extend %node_form--border;  
  	@extend %node_form--box_shadow_focus_effect;
  	@extend %node_form--textbox_width;
  	@include rem(padding, $node_form--unit_half, 0);
  	@include rem(text-indent, $node_form--unit_half);
	}
  
  
  
  /*
  //
  /// File field */
  
  .field-type-file{
		@extend %node_form--form_item_margin;
		@extend %node_form--field_container_styles;    
  }
  
  
  
  /*
  //
  /// Tabledrag handles */
  
  .draggable a.tabledrag-handle{
    height:1.4em;
  }

  
  
  /*
  //
  /// Textareas */
  
  .form-textarea{
    min-height:0;
  }
  
  .field-type-text-long{
    @extend %node_form--form_item_margin;
    @extend %node_form--field_container_styles;
    
    .text-full{
      @extend %node_form--box_shadow_focus_effect;
      @extend %node_form--border_radius;
      @extend %node_form--textbox_width;
    }
  }
  
  
  
  /*
  //
  /// Taxonomy reference field */
  
  .field-type-taxonomy-term-reference{
    @extend %node_form--form_item_margin;
    @extend %node_form--field_container_styles;
    
    .form-type-select{
      margin-bottom:0;
    }
  }
  
  
  
  /*
  //
  /// Product reference field */
  
  .field-type-commerce-product-reference{
    @extend %node_form--form_item_margin;
    @extend %node_form--field_container_styles;
  }
  
  
  
  /*
  //
  /// Field Collections */
  
  .field-type-field-collection{
    width:100%;
    
    legend{
      display:none;
    }
    
    fieldset{
      border:none !important;
      margin-bottom:0;
    }        
    
    .fieldset-wrapper{
      padding-bottom:0 !important;
      padding-left:0 !important;
      padding-right:0 !important;
    }
    
    .ds-1col{
      margin:0;
    }
  }
  
  .field-group-fieldset > .fieldset-wrapper{
    padding-left:0 !important;
    padding-right:0 !important;
    clear:both;
  }
  
  
  
  /*
  //
  /// Boolean field */
  
  .field-type-list-boolean{
    @extend %node_form--field_container_styles;
  }
  
} // end node form