/*
//
/// Table Styling */

.page-admin table{
	width:100%;
	font-size:12px;
	margin:0 0 10px;
	border:1px solid #bebfb9;
	
	tbody{
		border-top: 1px solid #ccc;
	}
		
	th{
		text-transform: uppercase;
		background: #e1e2dc;
		font-weight: normal;
		border-width: 1px;
		border-style: solid;
		border-color: #bebfb9;
		padding: 3px 10px;
	}
		
	tr{
	}
	
	td, th{
		vertical-align: middle;
		padding: 6px 10px;
		border: 0;
		color: #000;
	}
	
	td{
		&:last-child{
			border-right: 1px solid #bebfb9;
		}
	}
	
	.region-title td{
		font-weight:bold;	
	}	
}
	