/*
//
/// Vertical Tabs */

.vertical-tabs{
	@extend %node_form--border;
	border-right:none;
	@include rem(margin-top, 45);
	background-color: white;

	
	ul.vertical-tabs-list{
  	@include rem(width, 212);
  	@include rem(margin-left, -212);

		.vertical-tab-button{
			@extend %node_form--border;
			border-top:none;
			@extend %disable_user_select;
			
			&.selected{
				border-right:none;
			
				strong{
					color: rgb(41, 58, 80);		
				}
			}
			
			.summary{
				font-size:.8em;
			}			
			
			button{
				font-size:1.1em;
			}
		
			a{
				color:$theme_black;
				@include font_style($open_sans, 14, 400, 18);
				@include rem(padding, 12, 10);
				@include transition(background-color 0.3s ease-out);
				
				&:hover{
					outline:none;
					text-decoration:none;
					background-color:white;
					@include transition(background-color 0.15s ease-out);
					border-bottom:none;
					font-weight:400;
					
					strong,
					span{
						@include font_style($open_sans, 14, 400, 18);
						text-decoration:none;
					}
					
					.summary{
						font-size:0.8em;
					}
				}
				
				strong,
				span{
					font-weight:400;
					color:$theme_black;
					
					&:hover{
						text-decoration:none;
						font-weight:400;		
					}										
				}				
			}
		}			
	}
	
	.vertical-tabs-pane{
		@include rem(padding, 0, $node_form--unit);
		border:none !important;
	}

	.fieldset-wrapper{
		padding:1.5em 0;
	}
	
	input[type="checkbox"]{
		margin-bottom:0;
		
		& + label{
			width:auto;
			@include rem(padding-left, 5);
			@include rem(font-size, 16);
		}
	}
}
