/*
//
/// WYSIWYG */

.ckeditor_links {
    margin: 10px 0;
    float: left;
    display:none;
}

.cke_show_borders{
	font-size:130%;
}

// Wrapper for the entire field
.text-format-wrapper{
	@include rem(margin-top, 5);
	display:table;
	width:100%;	
	
	.form-type-select{
		padding:0;
		margin:0;
	}
	
	.tips{
		font-size:.7em;
	}
	
	.filter-help{
		display:none;
	}
	
	.filter-list{
		margin:0 0 5px 0;
	}
	
	.filter-wrapper{
		@include rem(padding-right, 7);
		@include rem(padding-top, 5);
		@include rem(padding-bottom, 1);
		margin-bottom:0;
		clear:both;
		background-color:transparent;
		@include rem(margin-top, -37);
		float:right;
		border:none;
		z-index:9;
		@include transform(translateZ(1px));
		display:none !important;
	}
	
	.filter-guidelines{
		display:none;
	}
	
	.description{
		font-style:italic;
		@include rem(font-size, 14);
		@extend %admin_border_style;
		border-top:none;
		margin-top:0;
		@include rem(padding, 10, 5);
		@include fallback(width, calc(100% - 12px), 90%);		
		border-bottom-left-radius:2px;
		border-bottom-right-radius:2px;
		
		@include backface-visibility(hidden);
		@include enable_3d();
	}
}



/*
//
/// Editor */

.text-format-wrapper span.cke_skin_kama{
	@include fallback(border, rgba(51, 51, 51, 0.5), #333333);
	background-clip:padding-box;
	padding:0;
	
	&:focus{
		outline:none;
	}
	
	.cke_wrapper{
		background-color:transparent !important;
		@extend %admin_border_style;
		border:none;
		background-image:none;
		@include rem(padding, 0, 3);
		@include backface-visibility(hidden);
		@include enable_3d();
	}
	
	.cke_top{
		@include rem(padding, 5, 3, 0);
		border-bottom:1px solid rgba(51, 51, 51, 0.1) !important;
		display:table;
		width:100%;
	}
	
	.cke_toolgroup{
		background-image:none;
		@include rem(padding-bottom, 6);
		@include border-radius(4px);
	}
	
	.cke_toolbox_collapser{
		display:none;
	}
	
	.cke_contents{
		background-color:white;
		padding:10px;
		display:block;
	}
	
	.cke_focus{
		outline:none !important;
	}
}



/*
//
/// Editor overwrites */

.cke_skin_kama .cke_browser_webkit{
	
	.cke_editor{
		@extend %node_form--border;
		@extend %node_form--border_radius;
    @extend %node_form--box_shadow;
    @extend %node_form--textbox_width;
    @extend %node_form--box_shadow_focus_effect;
		display: block !important;
		@include rem(padding, 5);
		float: left;
		
		tbody{
			float:left;
			display:block;
			width:100%;
			
			tr:nth-child(2){
  			display:block;
  			width:100%;
  			
  			iframe{
    			max-width:100%;
  			}
			}
		}
	}
	
	&.cke_focus .cke_editor{
    @include transition(box-shadow 0.2s ease);
    @include box-shadow($node_form--box_shadow_values rgba(0,0,0,0.3));    	
	}
}
